.row{
	display:table-row;
}
.cell{
	background:url('./grass.png') no-repeat top left;
	display:table-cell;
	width:50px;
	height:50px;
	border: 1px dotted gray;
}
.wall{
	background-image:url('./wall.jpg');
}
.end{
	background-image:url('./psg-logo.png');
	background-size: contain;
}
.character{
	background-image:url('./gromont.jpg');
	background-size: contain;
}